* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.footer-content {
    color: rgb(22, 21, 21);
    background-color: rgb(232, 201, 229);

    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-address p {
    font-size: 20px;
    font-style: oblique;


}

.footer-social p {
    font-size: 20px;
    font-weight: 600;

}

.footer-social ul li {
    list-style-type: none;
    font-size: 20px;
    padding: 8px 0;

}
