body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

header {
    background-color: #1b5486;
    color: #ffffff;
    padding: 20px 200px;
    padding-bottom: 0;
    /*text-align: center;*/
    display: flex;
    align-items: center; /* 🔥 Căn giữa logo và chữ theo chiều dọc */
    justify-content: space-between;
}

.left-header {
    display: flex;
    align-items: center;
    gap: 5px; /* khoảng cách giữa logo và slogan */
}

.slogan {
    font-family: Arial, sans-serif;
    font-style: italic;
    /*margin-left: 1px;*/
}

.right-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.separator {
    width: 1px;
    height: 24px;
    background-color: #ccc;
}

.login-btn {
    color: #ffffff;
    padding: 6px 12px;
    border: 1px solid white;
    border-radius: 20px;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: white;
    color: #1b5486;
}

.search-form {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 20px;
    overflow: hidden;
}

.search-form input[type="text"] {
    border: none;
    padding: 8px;
    outline: none;
    width: 180px;
}

.search-form button {
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

nav {
    background-color: #1b5486;
    /*margin: 5px 10%;*/
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav>ul li {
    list-style: none;
}

nav>ul li a {
    padding: 0 25px;
    display: block;
    line-height: 50px;
    color: #ffffff;
    /*text-decoration: none;*/
}

nav a:visited {
  color: #ffffff;
}

nav a:hover {
    opacity: .7;
    background: #ffffff;
    color: #1A1A1A;
}

nav li ul {
    display: none;
    min-width: 350px;
    position: absolute;
}

nav li>ul li {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    background: #1b5486;
    text-align: left;
}

nav li:hover>ul {
    display: block;
}

section {
    display: -webkit-flex;
}

#aside-left {
    -webkit-flex: 1;
}

article {
    -webkit-flex: 3;
}

#aside-right {
    -webkit-flex: 1;
}

footer {
    font-size: small;
}

.copyright {
    text-align: center;
    background-color: #1A1A1A;
    color: white;
    padding: 1px;
}

a {
    text-decoration: none;
}